<div class="container mt-2">
  <ng-container *ngIf="customers | async as listCustomers; else failureOrLoading">
    <div class="card" *ngIf="customers">
      <div class="card-header">Customers</div>
      <div class="card-body">
        <div *ngIf="searchFormGroup">
          <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchCustomers()">
            <div class="input-group">
              <label class="input-group-text">Keyword</label>
              <input type="text" formControlName="keyword" class="form-control">
              <button class="btn" style="background-color: #17a86c; color: white">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </form>
        </div>
        <table class="table table-sm mt-2">
          <thead>
          <tr>
            <th>ID</th><th>Name</th><th>Email</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let c of customers | async">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.email}}</td>
            <td>
              <button (click)="handleCustomerEdit(c)" class="btn" style="color: green">
                <i class="bi bi-pencil-square" style="color:green;"></i>
              </button>
            </td>
            <td>
              <button (click)="handleDeleteCustomer(c)" class="btn" style="color: red">
                <i class="bi bi-trash" style="color: red"></i>
              </button>
            </td>
            <td>
              <button (click)="handleCustomerAccounts(c)" class="btn rounded-pill btn-sm" style="background-color: #669999; color: white">
                Accounts
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #failureOrLoading>
    <ng-container *ngIf="errorMessage; else loading">
      <div class="text-danger">
        {{errorMessage}}
      </div>
    </ng-container>
    <ng-template #loading>
      Loading ...
    </ng-template>
  </ng-template>
</div>
